link:hover {
  color: black;
}

link:link {
    color: blue;
  }

link:hover {
    color: blueviolet;
}

a{
  text-decoration: underline;
}

tr:nth-child(odd) { 
  background-color: lightgray; 
}

tr:nth-child(1) { 
  border-bottom: 1px solid black;
  font-size: large;
}

td{
  padding: 3px;
  text-align: left;
  font-size: medium;
  word-wrap: break-word;
  overflow: hidden;
  white-space: normal;
}

