.title{
    font-family: Century Gothic, Arial, sans-serif;
    font-size: 26px;
    font-weight: bold;
  }

.text{
    font-family: Century Gothic, Arial, sans-serif;
    font-size: 22px;
  }

  .container { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "first second third fourth fifth"
  }

  .first, .second, .third, .fourth, .fifth { 
    grid-area: first; 
    text-align: justify;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
    padding: 5px;
  }
