.main{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 58px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tabs{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.subpage{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 56px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
}

.subtext{
    font-family: Century Gothic, Arial, sans-serif;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 5px;
    clear: left;
}

.projectdiv{
  margin: 60px 200px 60px 200px;
  display: grid;
  object-fit: contain;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px;
  gap: 100px;
  column-gap: auto;
}

.projectimage{
  object-fit: contain;
  display: block;
  height: 80%;
  width: 100%;
  margin: auto;
}

.projecttext{
  font-family: Century Gothic, Arial, sans-serif;
  display: block;
  text-align: center;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.projectsubtext{
  font-family: Century Gothic, Arial, sans-serif;
  text-align: center;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.projects{
  width: 100%;
  background-color: white;
  margin-bottom: 25px;
  object-fit: contain;
}

.projects:hover .projectimage {
  opacity: 0.6;
}

.homelink{
  font-family: Century Gothic, Arial, sans-serif;
  float: right;
  font-weight: bold;
}

.aboutheaders {
  font-family: Century Gothic, Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 5px;
}

.abouttext{
  font-family: Century Gothic, Arial, sans-serif;
  font-size: 20px;
  margin-top: 5px;
}

.booktitle{
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 36px;
  margin: 5px;
}

.bookauthor{
  font-family: Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 28px;
  margin: 5px;
}

.bookdesc{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 5px;
}

.bookcrate{
  margin-top: 15px;
  margin-bottom: 45px;
}

.writingname{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 5px;
  margin-left: 0px;
  font-weight: bold;
}

.writingtext{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  max-width: 45%;
}


/* 
Everything below is for the little > indicator on the homepage
*/

a{
    text-decoration: none;
    color: black;
}

.about a p.new-label span{
    position: relative;
    content: 'About';
  }

.about:hover a p.new-label span{
    display: none;
  }

.about:hover a p.new-label:after{
    content: '> About';
  }

.contact a p.new-label span{
    position: relative;
    content: 'Contact & Links';
  }

.contact:hover a p.new-label span{
    display: none;
  }

.contact:hover a p.new-label:after{
    content: '> Contact & Links';
  }

.projectsmain a p.new-label span{
    position: relative;
    content: 'Project Showcase';
  }

.projectsmain:hover a p.new-label span{
    display: none;
  }

.projectsmain:hover a p.new-label:after{
    content: '> Project Showcase';
  }

  .projectsall a p.new-label span{
    position: relative;
    content: 'All Projects';
  }

.projectsall:hover a p.new-label span{
    display: none;
  }

.projectsall:hover a p.new-label:after{
    content: '> All Projects';
  }

  .gamesmods a p.new-label span{
    position: relative;
    content: 'Games & Mods';
  }

.gamesmods:hover a p.new-label span{
    display: none;
  }

.gamesmods:hover a p.new-label:after{
    content: '> Games & Mods';
  }

.books a p.new-label span{
  position: relative;
  content: 'Reading List';
}

.books:hover a p.new-label span{
    display: none;
  }

.books:hover a p.new-label:after{
    content: '> Reading List';
  }

.writings a p.new-label span{
  position: relative;
  content: 'Essays & Writings';
}
.writings:hover a p.new-label span{
    display: none;
  }
.writings:hover a p.new-label:after{
    content: '> Essays & Writings';
  }
