.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "first second third"

  }
  
  .first { grid-area: first; text-align: justify;}
  
  .second { grid-area: second; text-align: justify;}
  
  .third { grid-area: third; text-align: justify;}
  
  
  .first img {
    display: block;
    margin: 0 auto;
  }

  .second img {
        display: block;
        margin: 0 auto;
  }

.third img {
    display: block;
    margin: 0 auto;
}